/* filesExportArea */
div#filesExportArea {
  width: 80%;
  max-height: 500px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* textInput */
div.textInput {
  width: 500px;
  position: relative;
}

div.textInput input {
  font-size: 16px;
  line-height: 32px;
  border: 0px;
  border-bottom: 2px dotted #312F2F;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  color: #312F2F;
}

div.textInput input:focus {
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
	transition: 0.3s;
}

div.textInput label {
  position: absolute;
  margin: 0px;
	top: 0px;
  left: 0px;
  font-size: 16px;
  line-height: 32px;
  padding: 5px 0px;
	transition: all 0.3s;
}

div.textInput input:focus + label {
  top: -26px;
  font-size: 12px;
  line-height: 12px;
}

div.textInput label p {
  margin: 0px 5px;
  color: #312F2F;
}

/* filesExportDirInputArea */
div#filesExportDirInputArea input {
  width: calc(100% - 120px);
  padding: 5px 0px 5px 120px;
}

div#filesExportDirInputArea input:focus {
  width: calc(100% - 5px);
  padding-left: 5px;
}

/* filesExportPrefixInputArea */
div#filesExportPrefixInputArea input {
  width: calc(100% - 60px);
  padding: 5px 0px 5px 60px;
}

div#filesExportPrefixInputArea input:focus {
  width: calc(100% - 5px);
  padding-left: 5px;
}

/* filesExportCheckInputArea */
div#filesExportCheckInputArea {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* checkInput */
div.checkInput p {
  margin: 2px;
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  color: #312F2F;
}

div.checkInput label {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
}

div.checkInput label input {
  position: absolute;
  opacity: 0;
}

div.checkInput label div {
  width: 50%;
  height: 100%;
  position: absolute;
  margin: auto;
  left: 0px;
  z-index: -1;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
}

div.checkInput label input:checked + div {
  left: 50%;
}

div.checkInput label p {
  margin: 0px 10px;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 32px;
  color: #312F2F;
}

/* filesExportButtonArea */
div#filesExportButtonArea {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a.filesExportLink {
  text-decoration: none;
}

a#filesExportClearLink:active div#filesExportClearButton {
  background-color: #B0B0B0;
}

a#filesExportExportLink:active div#filesExportExportButton {
  background-color: #39A9DB;
}

div.filesExportButton {
  width: 180px;
  border-radius: 5px;
}

div#filesExportClearButton {
  background-color: #9C9C9C;
}

div#filesExportExportButton {
  background-color: #2595C7;
}

div.filesExportButton p {
  padding: 5px 0px;
  font-size: 18px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  text-align: center;
}
